---
  extends: ../.eslintrc
  env:
    mocha: true
  rules:
    no-unused-expressions: false
    valid-jsdoc: 0;
    quotes: [0]
    key-spacing: false

    // we genrerate code with json stringify which uses single quotes

