# ESLint
#
#   Configuration: http://eslint.org/docs/user-guide/configuring
#   Rules: http://eslint.org/docs/rules/

---
  env:
    node: true

  rules:
    indent: [2, 2]
    brace-style: [2, "1tbs"]
    comma-style: [2, "last"]
    curly: [2, "multi-line"]
    default-case: 2
    func-style: [2, "declaration"]
    guard-for-in: 2
    newline-after-var: 2
    no-floating-decimal: 2
    no-multiple-empty-lines: 2
    no-nested-ternary: 2
    no-path-concat: 2
    quotes: [2, "single"]
    radix: 2
    space-after-keywords: [2, "always"]
    space-before-blocks: [2, "always"]
    space-before-function-paren: [2, "never"]
    space-in-brackets: [2, "never"]
    space-in-parens: [2, "never"]
    spaced-line-comment: [2, "always"]
    strict: [2, "global"]
    valid-jsdoc: [2, {"requireReturn": false, "prefer": {"return": "returns"}}]
    wrap-iife: 2
    one-var: [2, "never"]
    quote-props: [2, "as-needed"]
    max-len: [2, 160, 2]
    yoda: [2, "never"]
    dot-notation: 2
    new-cap: 2
    eol-last: 2
    no-process-exit: false
